<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>吹灭读书灯 一身都是月</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index_ready.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="index_wrap">
        <div class="row">
            <div class="col-sm-2 col-md-2">
                <div class="bg-dark text-white text-left padding_10 ">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                      </button>
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    <strong class="font-bold span_white font16">一身都是月</strong>
                </div>
                <!--            折叠面板-->
                <div id="accordion" class="nav_left sidebar_bg">
                    <div class="card bg-dark text-white">
                        <div class="card-header sidebar_bg">
                            <a class="card-link nav_left_link_color" data-toggle="collapse" href="#collapseOne">
                                选项一
                            </a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                            <!-- <div class="card-body nav_left_link_color"> -->
                            <div class="list-group">
                                <a href="#"
                                    class="bg-dark list-group-item list-group-item-action nav_left_link_color">First
                                    item</a>
                                <a href="#"
                                    class="bg-dark list-group-item list-group-item-action nav_left_link_color">Second
                                    item</a>
                                <a href="#"
                                    class="bg-dark list-group-item list-group-item-action nav_left_link_color">Third
                                    item</a>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="card bg-dark text-white">
                        <div class="card-header sidebar_bg">
                            <a class="collapsed card-link nav_left_link_color" data-toggle="collapse"
                                href="#collapseTwo">
                                选项二
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body nav_left_link_color">
                                #2 内容：菜鸟教程 -- 学的不仅是技术，更是梦想！！！
                            </div>
                        </div>
                    </div>
                    <div class="card bg-dark text-white">
                        <div class="card-header sidebar_bg">
                            <a class="collapsed card-link nav_left_link_color" data-toggle="collapse"
                                href="#collapseThree">
                                选项三
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body nav_left_link_color">
                                #3 内容：菜鸟教程 -- 学的不仅是技术，更是梦想！！！
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clo-sm-10 col-md-10"></div>
        </div>

    </div>

</body>

</html>